*{
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2rem;
}
body{
    background-color: bisque;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
}

.navigation-buttons {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.prev, .next {
    cursor: pointer;
    padding: 10px 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 18px;
    user-select: none;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
