*{
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2rem;
}
body{
    background-color: bisque;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/* .slide {
    height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slide.active {
    opacity: 1;
  } */
  